/* import fonts */
@import url(./font.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

/* Start navigation */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.hide{
  display: none;
}
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
} 
.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}
.header_area .main-menu .nav-item .nav-link{
    font:normal 500 15px/2px var(--roboto);
    /* font-family: var(--roboto); */
    text-transform: uppercase;
    /* font-weight: 500; */
    padding: 1.7rem;
    color:var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    background-clip: text;
}


/* End navigation */
/* banner area start */

.site-main .site-banner {
    background: url('../img/banner/home-banner.png')no-repeat 0% 50%;
}
.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
    
}
.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform:translateY(-10px)
}
.site-main .site-banner .site-title h1{
    font-size: 3rem;

}
.site-main .site-banner .site-title h4{
    font-size: 1.2rem;
}
/* .site-main .site-banner .banner-image>img{
    padding:7rem 0;
    width: 90rem;
} */

/* banner area end */

/* start about area */

.site-main .about-area{
    padding:8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font:normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;

}
/* .site-main .about-area .about-title .paragraph > p{
    padding: 4rem 0;

} */

/* end about area */

/* timeline - Academic life start */
.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
  }
  .timeline__content-title {
    
        font-weight: normal;
        font-size: 28px;
        margin: -10px 0 0 0;
        transition: 0.4s;
        padding: 0 10px;
        box-sizing: border-box;
        font-family:var(--roboto);
        color: chocolate;
    
  }
  .timeline__content-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .7);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    line-height: 25px;
  }
  .timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, .07);
  }
  @media only screen and (max-width: 767px) {
    .timeline:before {
      left: 40px;
    }
  }
  .timeline-item {
    padding: 40px 0;
    opacity: 0.3;
    filter: blur(2px);
    transition: 0.5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
  }
  .timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
    font-family: 'Pathway Gothic One', sans-serif;
    border-left: 2px solid rgba(255, 255, 255, .5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
  }
  .timeline-item:nth-child(even) {
    align-self: flex-end;
  }
  .timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, .5);
    padding-right: 15px;
  }
  .timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
  .timeline-item--active:before {
    top: 50%;
    transition: 0.3s all 0.2s;
    opacity: 1;
  }
  .timeline-item--active .timeline__content-title {
    margin: -50px 0 20px 0;
  }
  @media only screen and (max-width: 767px) {
    .timeline-item {
      align-self: baseline !important;
      width: 100%;
      padding: 0 30px 150px 80px;
    }
    .timeline-item:before {
      left: 10px !important;
      padding: 0 !important;
      top: 50px;
      text-align: center !important;
      width: 60px;
      border: none !important;
    }
    .timeline-item:last-child {
      padding-bottom: 40px;
    }
  }
  .timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
  }
  .timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: 0.3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
  }
  .timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   background: rgba(0,0,0,0.6);
    content: "";
  }
  .timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }
  .timeline-header__title {
    color: #fff;
    font-size: 58px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    margin: 0;
  }
  .timeline-header__subtitle {
    color: rgba(255, 255, 255, .5);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
  }
  .demo-footer {
    padding: 60px 0;
    text-align: center;
  }
  .demo-footer a {
    color: #999;
    display: inline-block;
    font-family: Cardo;
  }
/* timeline - Academic life end */

/* professional skill */
.fixed_font{
  font-size: 1rem;
}
.fixed_image{
  height: 673px; 
  width: 105%;
}
.fixed_height{
  height: 119vh;
  width: 44vw;
  font-size:0.7rem;
}
.b-selector .b-current:last-child {
  padding: 0px 1px 22px 11px;
}
        
.booklet .b-arrow          {display:block; position:absolute; text-indent:-9999px; top:0; height:100%; width:74px;}
.booklet .b-arrow div      {display:none; text-indent:-9999px; height:170px; width:74px; position:absolute; left:0; top:25%;}
.booklet .b-arrow-next     {right:-80px;color: tomato;}
.booklet .b-arrow-prev     {left:-80px;color: violet;}
.booklet .b-arrow-next div {background:url("../booklet/arrow-next.png") no-repeat left top;}
.booklet .b-arrow-prev div {background:url("../booklet/arrow-prev.png") no-repeat left top;}
.b-selector-page        {display:none;width:auto; margin-left:15px;}
.booklet .b-wrap-right {background:#fff;}
.booklet .b-page-cover  {padding:0; width:100%; height:100%; background:#fff;}
  /* end professional skil */



  /* achievement design */
  .blur-achieve{
    position: relative;
    background: url('../img/own/achievement2.jpg') ;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 100%;  */
  
  }
  .box-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;

  }
 
  
  .box-border{
   
    border:2px solid black;
    margin-top:5px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
  }
 .box-header__title{
    color: rgba(1, 78, 23, .5);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}
  /* end achievement design */
/* start certification design */
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;

}
/* end certification design */


/* try */
.card-cert{
  background-image: url("/img/own/achievement.jpg");
}
/* .testimonial{
  background: white;
  text-align: center;
  padding: 30px 30px 50px;
  margin:0 15px 100px;
  position: relative;
  margin-top: 168px;
}

.testimonial:before,
.testimonial:after{
  content:"";
  border-top: 40px solid white;
  border-right:125px solid transparent;
  position: absolute;
  bottom: -40px;
  left: 0;
}
.testimonial:after{
  border-right: none;
  border-left: 125px solid transparent;
  left: auto;
  right: 0;
}

.testimonial .description{
  font-size: 16px;
  color: #777;
  text-align: justify;
  margin-bottom: 30px;
  opacity: 0.9;
  letter-spacing: -1px;
}
.testimonial .testimonial-content{
  width: 100%;
  position: absolute;
  left: 0;
}
.testimonial .pic{
  display: inline-block;
  border:6px solid white;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 2px 2px #f4770b;
  z-index: 1;
  position: relative;
}
.testimonial .pic img{
  width: 100%;
  height: auto;
}

.testimonial .title{
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  margin: 0 0 5px 0;

}

.testimonial .post{
  display: block;
  font-size: 14px;
  color: #ffd9b8;

} */

.pic img{
  width: 100px !important;
  height: 50px;
}

/* new card styling */
@import url('https://fonts.googleapis.com/css?family=Abel');

/* html, body {
  background: #FCEEB5;
  font-family: Abel, Arial, Verdana, sans-serif;
} */
.course_body{
   background: #FCEEB5;
  

}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.cardy {
  width: 450px;
  height: 100%;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  /* overflow: hidden; */
  position: relative;
  /* margin: 1.5rem; */
}

.cardy h1 {
  text-align: center;
  font-size: xx-large;
  justify-content: left;
}

.cardy .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #dab352);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.cardy.green .additional {
  background: linear-gradient(#C2a14b, #A2CCB6);
}
.cardy.blue .additional {
  background: linear-gradient(#431cb2, #41c2b4);
}
.cardy.brown .additional {
  background: linear-gradient(#b15b67, #46c6cf);
}
.cardy.pink .additional {
  background: linear-gradient(hsl(330, 96%, 38%), hsl(236, 33%, 19%));
}

.cardy:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
  
}


.cardy .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.cardy .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.cardy .additional .user-card .level,
.cardy .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.cardy .additional .user-card .points {
  top: 85%;
}

.cardy .additional .user-card svg {
  top: 50%;
}

.cardy .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.cardy .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.cardy.green .additional .more-info h1 {
  color: #224C36;
}

.cardy .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.cardy.green .additional .coords {
  color: #325C46;
}

.cardy .additional .coords span + span {
  float: right;
}

.cardy .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.cardy.green .additional .stats {
  color: #325C46;
}

.cardy .additional .stats > div {
  flex: 1;
  text-align: center;
}

.cardy .additional .stats i {
  display: block;
}

.cardy .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cardy .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.cardy .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.cardy .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.cardy .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}
.img_circle{
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.course_img{
  width: 6vh;
  height: 5vh;
}

/* Start Project Area */
.site-main .project-area{
  padding: 4rem 0;

}
.site-main .project-area .button-group button{
  background: transparent;
  border: none;
  font:normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
  
}
.site-main .project-area .button-group button + button{
  padding-left: 3rem;
}
.site-main .project-area .grid .our-project > .title h4{
  font:normal 700 25px/23px var(--roboto);
}

/* making modal */
#blur.container.active{
  filter:blur(160px);
  pointer-events: none;
  user-select: none;
}

.popup{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* width: 600px; */
  padding:50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background: transparent;
  visibility: hidden;
  opacity: 0;
  transition:0.7s;
}
.popup.active{
  top:50%;
  visibility: visible;
  opacity: 1;
  transition:0.7s;
  background: #fff;
  
}
.pop{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  ;
}
.pop-link{
  margin-top: 12px;
  color:#21bcad;
}
.project-area .our-project .title h4{
  font-size:1vw !important;
}
div.pop-footer button{
  border:1px solid grey;
}
/* end modal */
/* End Project Area */

/* .our-project .title h4{
 font-size: 1vw !important;
} */
.b-selector .b-current  {
  color: aquamarine;
  padding: 3px 38px 22px 11px;
  line-height:20px;

  height:20px;
  display:block;
  background:transparent;
  text-align:center;
  width: fit-content;
  }
  .b-selector .b-current:last-child {
    padding: 0px 1px 22px 11px;
  }
          
@media only screen and (max-device-width: 480px) {
  .phone_image{
    width: 365px;
    margin-top: 13px;
  }
  .mobile_version_skill h3{
    font-size: 0.5rem;
  }
  .fixed_font{
    font-size: 0.5rem;
  }
.lap h4{
    font-size: 0.7rem;
  }
  .b-current{
    display: none;
  }
  .b-selector .b-current{
    display: none;
  }
  .b-selector .b-selector-chapter .b-current{
    display: none;
  }
  span.b-current{
    display: none;
  }
  .scrollcss{

    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior-y: auto;
    
  }

  .cardy h1{
    font-size: x-large;
  }
  .cardy .additional .stats div.title {
    font-size: 0.56rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .cardy .additional .stats i {
    display: block;
    width:100%;
  }
  .cardy .additional .stats:last-child{
    margin-right: 30px;
  }
  .cardy .additional .stats div.value {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1rem;
  }
  .cardy .general h1{
   font-size: .8rem;
   border-bottom: 1px double forestgreen;
   border-bottom-left-radius: 10%;
   border-bottom-right-radius: 10%;
   border-bottom-width: fit-content;
   padding-top: 30px;
   font-weight: bold;
  }
  .cardy .additional .more-info{
    padding-top: 22px;
  }
  .cardy .additional .coords span + span {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: inherit;
    color: lawngreen;
  }
  
  /* .swiper-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    width: 100%;
} */
  .site-main .about-area .about-title h2 > span {
    display: block;
    font: normal bold 28px/39px var(--roboto);
    letter-spacing: 13px;
}
  .site-main .project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 434 12px/30px var(--roboto);
    text-transform: uppercase;
  }
  .site-main .project-area .button-group button + button {
    padding-left: 1rem;
    display: block;
  }
  .w-75 {
    width: 100%!important;
  }
}


/* project area */
.project-area .our-project .img img{
  width: 100%;
  height: 100%;
}
